<div class="card domain-card" data-domain={{domain}}>
  <div class="card-header">
    <form class="add-code" data-domain="{{domain}}">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="">{{domain}}</span>
        </div>
        <input type="text" class="form-control input-kind" placeholder="{{placeholder_kind}}" aria-label="{{placeholder_kind}}" aria-describedby="basic-addon2">
        <input type="text" class="form-control input-code" placeholder="{{placeholder_code}}" aria-label="{{placeholder_code}}" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary locale" data-locale="settingsAddRuleButtonText" type="submit"></button>
        </div>
      </div>
    </form>
  </div>
  <div class="card-body">
    {{#blocks}}
      <div class="card">
        <div class="card-header">
          {{kind}}
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <ul class="list-group">
                {{#codes_a}}
                  <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    {{code}}
                    <div class="code-actions">
                      <a href="#" data-domain="{{domain}}" data-kind="{{kind}}" data-code="{{code}}" class="badge toggle-code {{#disabled}}badge-danger{{/disabled}} {{^disabled}}badge-success{{/disabled}} badge-pill">{{badge}}</a>
                      <button data-domain="{{domain}}" data-kind="{{kind}}" data-code="{{code}}" type="button" class="btn btn-outline-secondary btn-sm remove-code locale" data-locale="settingsRemoveButtonText"></button>
                    </div>
                  </li>
                {{/codes_a}}
              </ul>
            </div>
            <div class="col-6">
              <ul class="list-group">
                {{#codes_b}}
                  <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    {{code}}
                    <div class="code-actions">
                      <a href="#" data-domain="{{domain}}" data-kind="{{kind}}" data-code="{{code}}" class="badge toggle-code {{#disabled}}badge-danger{{/disabled}} {{^disabled}}badge-success{{/disabled}} badge-pill">{{badge}}</a>
                      <button data-domain="{{domain}}" data-kind="{{kind}}" data-code="{{code}}" type="button" class="btn btn-outline-secondary btn-sm remove-code locale" data-locale="settingsRemoveButtonText"></button>
                    </div>
                  </li>
                {{/codes_b}}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <br>
    {{/blocks}}
  </div>
</div>
