html, body {
  font-family: 'Open Sans', arial, sans-serif;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#loading {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color:#FFF;
  padding-top: 76px;
  display:none;
  color: #CCC;
  text-align: center;
  z-index: 999;
  opacity: 0.95;
  font-style: italic;
}

.top-link {
  display: inline-block;
  float: right;
  padding: 5px 10px;
  margin: 5px 0;
  border-right: 1px solid #DDD;
}

#version {
  float: right;
  display: inline-block;
  padding: 10px;
  color: #CCC;
}

.interceptions {
  margin: 6px;
  width: 548px;
}

.interceptions .calls {
  position: relative;
  margin: 0 2px 12px;
  background-color:#e0e0e0;
  color: #333;
  display: inline-block;
  text-align: center;
}

.interceptions .calls:hover {
  background-color: #d8cedd;
  cursor: pointer;
}

.interceptions .calls.disabled {
  background-color: #edccc7;
}
.interceptions .calls.disabled:hover {
  background-color: #f2bbb3;
}

.interceptions .calls .name {
  display: inline-block;
  overflow: hidden;
  text-align: center;
  width: 80%;
  white-space: nowrap;
}

.interceptions .calls.disabled .name {
  text-decoration: line-through;
}

.interceptions .calls .allowed, .interceptions .calls .blocked {
  padding: 2px 4px;
  position: absolute;
  bottom: -5px;
  color: #FFF;
}

.interceptions .calls .execution_time {
  position: absolute;
  bottom:-5px;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  padding: 2px 0;
  text-align: center;
  background-color: #8D8E87;
  color: #FFF;
  font-style: italic;
}

.zoom-in .interceptions .calls .execution_time {
  margin-left: -29px;
  width: 58px;
}

.interceptions .calls .allowed {
  border-left:4px solid #20b203;
  left: 10px;
}

.interceptions .calls .blocked {
  border-right:4px solid #ea1004;
  right: 10px;
}

.nothing-detected, .nothing-detected-full {
  text-align: left;
  color: #999;
  padding: 10px 0 20px 10px;
}

.nothing-detected-full {
  width: 500px;
}

.tippy-tooltip.js-sample-theme {
   background-color: #FFF;
   color:#666;
   border: 1px solid #CCC;
   text-align: left;
}

.tippy-tooltip.js-sample-theme pre {
  border-top:1px solid #CCC;
  padding-top: 6px;
  padding-right: 4px;
  overflow: auto;
  overflow-y: scroll;
  min-height: 30px;
  max-height: 100px;
}

.tippy-tooltip.js-sample-theme pre code {
  white-space: normal;
}

.options-form {
  padding:4px 4px 0 8px;
}

.options-form label {
  padding-bottom: 2px;
}

.col-1 {
  float: left;
}

.col-2 {
  text-align: right;
  float: right;
  width: 256px;
}

.col-2-header {
  width: 300px;
}

.col-1 label, .col-1 label input {
  float: left;
}

.col-2 label, .col-2 label input {
  float: right;
}
.col-2 label {
  margin-right: 7px;
}

label.invalid-domain {
  color: #CCC;
}

label.valid-domain {
  max-width: 270px;
  overflow: hidden;
  white-space: nowrap;
}

.general-injection-label {
  margin-top: 12px;
  margin-bottom: 2px;
}

.zoom-in .general-injection-label {
  margin-bottom: 3px;
}

.clear-floats {
  clear: both;
}

h2 {
  font-size: 11px;
  border-bottom: 1px solid #CCC;
  padding-bottom: 2px;
}

.interceptions .calls {
  font-size: 9px;
  width: 120px;
  padding: 6px 4px 14px 4px;
}

.tippy-tooltip.js-sample-theme { font-size: 11px; }

.tippy-tooltip.js-sample-theme pre code { font-size: 10px; }

body { font-size: 16px; min-width: 540px; }

body.zoom-in { font-size: 17px; }

.zoom-in h2 {
  font-size: 14px;
  border-bottom: 2px solid #CCC;
  padding-bottom: 3px;
}

.zoom-in .tippy-tooltip.js-sample-theme {
  font-size: 14px;
}

.zoom-in .tippy-tooltip.js-sample-theme pre code { font-size: 13px; }

.zoom-in .interceptions .calls {
  font-size: 12px;
  width: 164px;
  padding: 8px 4px 16px 4px;
}
