<form>
  <label>
    <input type="checkbox" name="general" value="true" {{#general_injection_enabled}} checked {{/general_injection_enabled}} /> {{general_injection_enabled_title}}
  </label>

  {{#domain}}
    <br>
    <label>
      <input type="checkbox" name="{{domain}}" value="true" {{^general_injection_enabled}} disabled {{/general_injection_enabled}} {{#domain_injection_enabled}} checked {{/domain_injection_enabled}} /> {{domain}}
    </label>
  {{/domain}}

  <br>
  <label>
    <input type="checkbox" name="show_code_details" value="true" {{#show_code_details}} checked {{/show_code_details}} /> {{show_code_details_title}}
  </label>
</form>
