<div id="note-container">

  <form>
    domain: <strong>{{domain}}</strong>
    <br>
    kind: <strong>{{kind}}</strong>
    <br>
    type: <strong>{{type}}</strong>
    <br><br>
    How safe is it to block it?
    <br>
    <div class="safe_level safe_level_01"><input type="radio" checked> impossible to use the site without this</div>
    <br>
    <div class="safe_level safe_level_02"><input type="radio"> the site breaks, complicated workarounds are needed to use</div>
    <br>
    <div class="safe_level safe_level_03"><input type="radio"> breaks something, but it's possible to live without it</div>
    <br>
    <div class="safe_level safe_level_04"><input type="radio"> breaks something but remains usable</div>
    <br>
    <div class="safe_level safe_level_05"><input type="radio"> totally safe</div>
    <br><br>
    What's the problem?
    <br>
    <div class="safe_level"><input type="checkbox"> can't login</div>
    <br>
    <div class="safe_level"><input type="checkbox"> broken layout</div>
    <br>
    <div class="safe_level"><input type="checkbox"> video/music player not working</div>
    <br><br>
    More details:
    <textarea></textarea>
    <br>
    <button type="submit">save</button>
  </form>

</div>
